/*Text styling*/
h1{
	font-size: 4vmax;
	margin-bottom: 0.5em;
}
h3 {
	font-size:1.2em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0px;
	font-size: 1.5vmax;
	
}

#main {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	font-family: "Verdana";
}

#leftDiv {
	float:left;
	width:69%;
	margin-top: 0.5em;
	margin-left:0.5em;
	margin-bottom:0.5em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
}

#mapOuter{
	float: left;
	width:60%;
	height: 25vmax;
	margin-top: 1em;
}

#histOuter{
	float: left;
	width:39%;
	height: 25vmax;
	margin-top: 1em;
}

#lineOuter{
	clear: both;
	width:98%;
	height: 20vmax;
}

/*Outer set of divs*/
#selectorDiv{
	margin-top: 1em;
	margin-left:1em;
	height:2.5vw;
	background: #EEEEEE;

}
#chartsDiv{
/*	float: left;
	width: 69%;*/
	/*border:1px solid black;*/
}
#textDiv{
	width:24%;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	font-size: 1.2vmax;
	line-height: 1.5vmax;
	padding:1% 1% 1% 1%;
	float: right;
	/*box-shadow: 0 0 0.5em #888888;*/
	/*border:1px solid #888888;*/
}

#tab2row1{
	margin-top:3em;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 0.9em;
	padding:2% 1% 1% 1%;
    box-shadow: 0 0 0.5em #888888;
	border:1px solid #888888;
}

/*Common CSS for axis classes (histogram and indicators, line chart has a separate one)*/
.yAxis path,
.yAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width:1px;
}
.yAxis text {
    font-family: sans-serif;
    font-size: 9px;
}

/*Selector Div on price*/
#productSelectPrice {
	margin-right:1.2vmax;
	width:25%;
}
#sliderContainer {
	display:inline-block;
	width:25%;
}
#sliderContainer .axis {
  font: 1.2vmax sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#sliderContainer .axis line {
  fill: none;
  stroke: black;
  stroke-width:1px;
  shape-rendering:crispEdges;
}
#sliderContainer .axis path {
  fill:none;
}

#sliderContainer #slider {
  width:20vmax;
  margin-left:2vmax;
  margin-right:2max;
  margin-top:-1.2vmax;
}

}
.focus {
	pointer-events:none;
}
select:focus {
	border: 1px solid #ccc;
  	box-shadow: none;
  	outline: 0 none;
}
.ui-state-focus {
	border: 1px solid #000;
  	box-shadow: none;
  	outline: 0 none;
 }

.ui-slider .ui-slider-handle {
 	cursor:grab;
 	cursor:-webkit-grab;
 }

/*Map Div and CSS*/

#mapContainer{
	width:95%;
	height:75%;
	margin:auto;
}
.key path {
	display:none;
}
.key line {
	stroke:none;
	shape-rendering:crispEdges;
}
.key text {
	font-size:1.1vmax;
}

.states{
	cursor: pointer;
}

.state-boundary {
	fill:none;
	stroke:rgb(240,240,240);
	stroke-width:.5px;
	stroke-linejoin:round;
	stroke-linecap:round;
}
.boundary-hover {
	fill:none;
}
.boundary-hover-show {
	stroke:black;
	fill:none;
	stroke-width:1.5px;
}
.boundary-hover-hide {
	stroke:none;
	fill:none;
}


/*Hist div and CSS*/

#histChartContainer{
	width:95%;
	height:75%;
	margin:auto;
}

/*Line CSS*/

#lineChartContainer{
	width:98%;
	height:75%;
	margin: auto;
}
.lineRect {
	fill:rgb(100,100,100);
	fill-opacity:.2;
	stroke:none;
}
.voronoi path {
  fill: none;
  stroke:none;
  pointer-events: all;
}

.stateLines {
	fill:none;
}

.natLine {
	fill:none;
	stroke: green;
	stroke-width: 3px;
	opacity: 1;
}

.nonActiveLine{
	opacity:0;
}

.x.axis path {
	display: none;
}
.x.axis text, .y.axis text {
	font-size:13px;
}
.x.axis line {
	shape-rendering:crispEdges;
	stroke: black;
}
.y.axis path {
	display: none;
/*	stroke:lightgrey;
	stroke-width:1px;*/
}
.y.axis line {
	stroke:lightgrey;
	stroke-width:1px;
}
.state--hover {
	stroke:red;
}


