/*Text styling*/
h3 {
	font-size:1.2em;
	margin-left: 1em;
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 1.5em;
}



/*Position the Divs*/
#main {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	font-family: "Verdana";
}

/*Outer set of divs*/
#selectorDiv{
	width:95%;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
}
#topRow{
	width:95%;
	height: 330px;
	/*border:5px solid red;*/
}
#mapOuter{
	float: left;
	width:60%;
	height: 100%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
}
#textDiv{
	float: right;
	margin-top: 1em;
	width:36%;
	font-size: 1em;
	padding:1% 1% 1% 1%;
	float: right;
	box-shadow: 0 0 0.5em #888888;
	/*border:1px solid #888888;*/
	height:94%;
}
#bottomRow{
	clear: both;
	width:95%;
	height: 250px;
	/*border:5px solid yellow;*/
}
#lineOuter{
	float: left;
	width:60%;
	height: 100%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
}
#histOuter{
	float: right;
	width:38%;
	height: 100%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
}

#tab2row1{
	margin-top:3em;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 0.9em;
	padding:2% 1% 1% 1%;
    box-shadow: 0 0 0.5em #888888;
	border:1px solid #888888;
}

#productSelectPrice{
	margin-left: 0.2em;
	margin-top:0.2em;
	line-height: 1em;
}
/*Common CSS for axis classes (histogram and indicators, line chart has a separate one)*/
.yAxis path,
.yAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width:1px;
}
.yAxis text {
    font-family: sans-serif;
    font-size: 9px;
}

/*Selector Div on price*/
#productSelectPrice {
	margin-right:40px;
}
#sliderContainer {
	display:inline-block;
}
#sliderContainer .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#sliderContainer .axis line {
  fill: none;
  stroke: black;
  stroke-width:1px;
  shape-rendering:crispEdges;
}
#sliderContainer .axis path {
  fill:none;
}

#sliderContainer #slider {
  width:250px;
  margin-left:20px;
  margin-right:20px;
  margin-top:-15px;
}



/*Map Div and CSS*/
#mapContainer{
	width:100%;
	height:100%;
	margin:auto;
	/*border:1px solid black;*/
}

#mapSvg{
	width:100%;
    height: auto;
}
/*Map key*/
.key path {
	display:none;
}
.key line {
	stroke:white;
	shape-rendering:crispEdges;
}
.key text {
	font-size:12px;
}

/*Map Boundaries*/
.zone-boundary{
	fill:none;
	stroke:rgb(60,60,60);
	stroke-width:0.2px;
	stroke-linejoin:round;
	stroke-linecap:round;
}
.region-boundary {
	fill:none;
	stroke:black;
	stroke-width:1px;
	stroke-linejoin:round;
	stroke-linecap:round;
}
.region-boundary-small {
	fill:none;
	stroke:black;
	stroke-width:0.1px;
	stroke-linejoin:round;
	stroke-linecap:round;
}

.boundary-hover {
	fill:none;
	stroke:black;
	stroke-width:1px;
}
.boundary-hover-show {
	stroke:green;
	fill:none;
	stroke-width:2px;
}
.boundary-hover-hide {
	stroke:none;
	fill:none;
}

/*Hist div and CSS*/
#histChartContainer{
	width:95%;
	height:100%;
	margin:auto;
}

#lineChartContainer{
	width:98%;
	height:100%;
	margin: auto;
}
/*Line CSS*/


.lineRect {
	fill:rgb(100,100,100);
	fill-opacity:.2;
	stroke:none;
}

#lineSvg{
	width:100%;
    height: auto;
}

.voronoi path {
  fill: none;
  stroke:none;
  pointer-events: all;
}
.x.axis path {
	display: none;
}
.x.axis text, .y.axis text {
	font-size:13px;
}
.x.axis line {
	shape-rendering:crispEdges;
	stroke: black;
}
.y.axis path {
	display: none;
/*	stroke:lightgrey;
	stroke-width:1px;*/
}
.y.axis line {
	stroke:lightgrey;
	stroke-width:1px;
}
.state--hover {
	stroke:red;
}
.townLines {
	fill:none;
	stroke-width: 1px;
	stroke: rgb(150,150,150);
}
.focus {
	pointer-events:none;
}
select:focus {
	border: 1px solid #ccc;
  	box-shadow: none;
  	outline: 0 none;
}
.ui-state-focus {
	border: 1px solid #000;
  	box-shadow: none;
  	outline: 0 none;
 }
.ui-slider .ui-slider-handle {
 	cursor:grab;
 	cursor:-webkit-grab;
 }
 .sliderPoly path{
	fill:white;
	stroke:black;
	shape-rendering:crispEdges;
}
/*Common CSS for the indicators*/
.zoneHoverShow{
  stroke:black;
  stroke-width:0.08px;
}
.zoneHoverHide {
  fill: none;
  stroke:black;
  stroke-width:0.06px;
}

.textHoverShow{
  font-size: 16px;
}
.textHoverHide{
  color: red;
}

.meanLines line{
	stroke: black;
	stroke-width:1px;
}

.meanCross{

}

/*Volatility CSS*/
#volatilityOuter{
	float: left;
	width:60%;
	/*border:1px solid black;*/
}
/*#volatilityContainer{
	margin: auto;
}*/
#indicatorTextContainer {
	float: left;
	width:30%;
	padding:2% 3% 0% 3%;
	/*border:1px solid black;*/
}
#segmentationOuter {
	float:left;
	width:58%;
	/*border:1px solid black;*/
}

#passthroughOuter {
	float:left;
	width:40%;
	/*border:1px solid black;*/
}