/*Text styling*/
h1 {
	font-size:4vmin
}
h3 {
	font-size:2.2vmin;
	margin-left: 0.5em;
	margin-bottom: 0px;
	margin-top: 0.2em;
	line-height: 2.2vmin;
}


/*Position the Divs*/
#main {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	font-family: "Helvetica";
}

/*Outer set of divs*/
#selectorDiv{
	width:95%;
	height:2.5vw;	
	margin-left:2px;
	/*background: #EEEEEE;*/
	/*box-shadow: 0 0 5px #888888;*/
}
#productSelectPrice{
	height:85%;
	width:15%;
	margin-left: 0.2em;
	margin-top:0.2em;
	font-size: 2vmin;
	/*line-height: 2vmin;*/
}
#topRow{
	width:95%;
	height: 25vw;
	margin-left:2px;
	/*border:5px solid red;*/
}
#mapOuter{
	float: left;
	width:60%;
	height: 100%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
	padding-top:1%;
}
#mapOuter h3, #lineOuter h3 {
	margin-left:3%;
}
#histOuter h3 {
	margin-left:4.5%;
}
#textDiv{
	float: right;
	margin-top: 1em;
	width:36%;
	height: 92%;
	font-size: 1.2vmax;
	line-height: 1.5vmax;
	padding:1% 1% 1% 1%;
	float: right;
	/*box-shadow: 0 0 5px #888888;*/
	/*border:1px solid #888888;*/
	
}
#bottomRow{
	clear: both;
	width:95%;
	margin-left:2px;
	height: 15vw;
	/*border:5px solid yellow;*/
}
#lineOuter{
	float: left;
	width:60%;
	height: 95%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
	padding-top:1%;
}
#histOuter{
	float: right;
	width:38%;
	height: 95%;
	margin-top: 1em;
	background: #EEEEEE;
	box-shadow: 0 0 5px #888888;
	padding-top:1%;
}

#tab2row1{
	margin-top:3em;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 2vmin;
	padding:2% 1% 1% 1%;
    box-shadow: 0 0 0.5em #888888;
	border:1px solid #888888;
}


/*Common CSS for axis classes (histogram and indicators, line chart has a separate one)*/
.yAxis path,
.yAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width:1px;
}
.yAxis text {
    font-family: sans-serif;
    font-size: 1.0vmax;
}

/*Selector Div on price*/
#productSelectPrice {
	margin-left:0.5em;
	margin-top: :5px;
}


/*Map Div and CSS*/
#mapContainer{
	width:100%;
	height:100%;
	margin:auto;
	/*border:1px solid black;*/
}

#mapSvg{
	width:100%;
    height: auto;
}
/*Map key*/
.key path {
	display:none;
}
.key line {
	stroke:#EEEEEE;
	shape-rendering:crispEdges;
}
.key text {
	font-size:1.7vmin;
}

/*Map Boundaries*/
.zone-boundary{
	fill:none;
	stroke:rgb(60,60,60);
	stroke-width:0.2px;
	stroke-linejoin:round;
	stroke-linecap:round;
}
.region-boundary {
	fill:none;
	stroke:black;
	stroke-width:0.5px;
	stroke-linejoin:round;
	stroke-linecap:round;
	transition: stroke 500ms;
	pointer-events:none;
}

/*.region-boundary-small {
	fill:none;
	stroke:black;
	stroke-width:0.1px;
	stroke-linejoin:round;
	stroke-linecap:round;
}*/
.tab-content {
	overflow:visible;
}
.boundary-hover {
	fill:none;
	stroke:DarkGrey;
	stroke-width:0.5px;
	pointer-events:none;
}
.boundary-hover-show {
	stroke:green;
	fill:none;
	stroke-width:2.5px;
	pointer-events:none

}
.boundary-hover-hide {
	stroke:none;
	fill:none;
	pointer-events:none
}

/*Hist div and CSS*/
#histChartContainer{
	width:95%;
	height:100%;
	margin:auto;
}

.histText{
	font-size: 1.8vmin;
	margin-left: 1em;
}
#lineChartContainer{
	width:98%;
	height:100%;
	margin: auto;
}
/*Line CSS*/


.lineRect {
	fill:rgb(100,100,100);
	fill-opacity:.2;
	stroke:none;
}

#lineSvg{
	width:100%;
    height: auto;
}

.voronoi path {
  fill: none;
  stroke:none;
  pointer-events: all;
}
.x.axis path {
	display: none;
}
.x.axis text, .y.axis text {
	font-size:1.0vmax;
}
.x.axis line {
	shape-rendering:crispEdges;
	stroke: black;
}
.y.axis path {
	display: none;
/*	stroke:lightgrey;
	stroke-width:1px;*/
}
.y.axis line {
	stroke:lightgrey;
	stroke-width:1px;
}
.state--hover {
	stroke:red;
}
.townLines {
	fill:none;
	stroke-width: 1.5px;
}
.natLine {
	fill:none;
	/*stroke: green;*/

	stroke-width: 2.5px;
	stroke-dasharray: 10,10;

	/*stroke:#33a02c;*/
	/*stroke-width: 1.5px;*/
	/*stroke-dasharray: 10,10;*/

	opacity: 1;
}

.nonActiveLine{
	opacity:0;
}
.label{
	font-size: 1vmax;
	font-weight: normal;
}


.focus {
	pointer-events:none;
}

select:focus {

	border: 1px solid #ccc;
  	box-shadow: none;
  	outline: 0 none;
}
.ui-state-focus {
	margin-top: :1em;
	border: 1px solid #000;
  	box-shadow: none;
  	outline: 0 none;
 }
